.SocialsBanner {
    background-color: black;
    display: flex;
    justify-content: flex-end;
    color: white;
    padding: .75rem;
    max-width: 1920px;
    margin: auto;
    
    &-IconsContainer {
        
    }
}

